<nav class="navbar navbar-fixed-top">
  <div class="container">
    <img src="dividup_logo.png" class="normal-img menu-item" alt="application logo">
    <%= link_to "Your Spaces", "/spaces", class: "item-in" %>
    <%= link_to "Create Space", "/spaces/new", class: "item-in" %>
    <%= link_to "Your Sharing Searches", "/searches", class: "item-in" %>
    <%= link_to "Create Search", "/searches/new", class: "item-in" %>
    <a href="#" class="item-in">Messages</a>
    <a href="#" class="item-in">
      <i class="fa fa-user-o" aria-hidden="true"></i>
      Profile
      <i class="fa fa-caret-down" aria-hidden="true"></i>
    </a>
    <%= link_to 'Logout!', destroy_user_session_path, method: 'DELETE', class: "item-in" %>
  </div>
</nav>