<body>
	<header>
		<img src="<%= url("/images/logo.jpg")%>" class="menu-item" alt="application logo">		
		<div class="menu-item-sections">
			<a href="#" class="section">Your Spaces</a>
			<a href="#" class="section">Your Searches</a>
			<a href="#" class="section">Messages</a>
			<a href="#" class="section">
				<i class="fa fa-user-o" aria-hidden="true"></i>
				Profile
			</a>
		</div>
	</header>
	<div class="search-main-container">
		<table class="search-results">
			<tr>
		    <th class="column">Numer of people to Share</th>
		    <th class="column">Users</th> 
		    <th class="column">Percentage of Compatibility</th>
		    <th class="column">Used Times</th>
		  </tr>
		  <% @search_results.each do |result| %>
		  	<tr>
		  		<td class="result"><%= (result[:people]).count %></td>
		  		<td class="result"><%= result[:people] %></td>
		  		<td class="result"><%= result[:percentage] %></td>
		  		<td class="result"><%= result[:used_times] %></td>
		  	</tr>
		  <% end %>
		</table>
</body>
