<div class="main-container-search-new">
  <h1>Hi, <%= current_user.name %>!</h1>
  <h1>Do you want to define a sharing search?</h1>
  <h1>Lets create and publish it!</h1>
  
  <%= form_for [@my_space] do |f| %>
    <div class="field">
      <%= f.label :space_type %><br />
      <%= f.collection_select :space_type, Search::TYPES, :to_s, :to_s, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_field :description, autofocus: true %>
    </div>
    
    <% @day_search_items.each do |day_search| %>
      <%= fields_for 'day_search_items[]', day_search_item do |d| %>
        <div class="field">
          <%= d.label "Space dimension (m2)" %><br />
          <%= d.select :space_dimensions, (4...32).step(2).map {|i| [i,i] }, autofocus: true %>
        </div>

        <div class="field">
          <%= d.label "Space dimension (m2)" %><br />
          <%= d.select :space_dimensions, (4...32).step(2).map {|i| [i,i] }, autofocus: true %>
        </div>

        <div class="field">
          <%= d.label "Space dimension (m2)" %><br />
          <%= d.select :space_dimensions, (4...32).step(2).map {|i| [i,i] }, autofocus: true %>
        </div>
      <% end %>
    <% end %>
    <br>
    <%= submit_tag %>
  <% end %>
</div>