<div class="spot-search-main-container">
  <%= search_form_for @q do |f| %>
    <%= hidden_field_tag :search_around, @search_around %> 
    <div class="field">
      <%= f.label :space_type %><br />
      <%= f.collection_select :space_type_eq, Space::TYPES, :to_s, :to_s %>
    </div>
    <div class="space-availability-selectors">
      <% Search::WEEK_DAYS.each do |week_day| %>       
        <h5><%= week_day %></h5>
        <div class="field <%= week_day %>">
          <p>
            Time Slot:<p id="time-range"></p>
          </p>
          <div id="slider-range"></div>
          <input type="hidden" id="time-start" name=<%= "start_time[#{week_day}]" %> >
          <input type="hidden" id="time-end" name=<%= "end_time[#{week_day}]" %> >
        </div>
      <% end %>
    </div>
    <%= f.submit %>
  <% end %>
</div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "slider.js" %>
<% end %>

<% content_for :view_specific_css do %>
  <%= stylesheet_link_tag "_spot-search-main-container" %>
  <%= stylesheet_link_tag "_home-footer" %>
  <%= stylesheet_link_tag "_home-header" %>
<% end %>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css">
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>